# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

1. Categories of Data Science Tools
2. Open Source Tools for Data Science
3. Commercial and Clud Based Tools for Data Science
4. Application Programming Interfaces (APIs)
5. Machine Learning Models
6. R Basics with RStudio and GitHub Repositories

* Popular languages for Data Scientists
* Common libraries used by Data Scientists
* Data Science Tools
* Examples of arithmetic expressions evaluation in Python
* Sharing notebooks through GitHub

Some of the popular languages that Data Scientists use are:
    
    1. R
    2. Python
    3. SQL

Some of the commonly used libraries used by Data Scientists include:

    1. NumPy
    2. Pandas
    3. ggplot
    4. TensorFlow
    5. Matplotlib

Data Science Tools

| Column 1   |
|:----------:|
|  RStudio |
|  Apache Spark   |
|  TensorFlow   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

x = (3 * 4) + 5
print(x)

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

min = int(input("Enter time in minutes: "))
h = min / 60
print("Hours=",h)

Enter time in minutes: 200
Hours= 3.3333333333333335

## Author

Luis Diego Aguilar